<h1>Meu carrinho</h1>
<% if cart.count > 0%>
	<table class="table">
		<thead>
			<th></th>
			<th>Produto</th>
			<th>Plataforma</th>
			<th>Preço</th>
			<th>Desconto</th>
			<th>Preço Final</th>
			<th>Opção</th>
		</thead>
		<tbody>
	<% @carts.each do |product| %>
			<tr>
				<td><%= image_tag product.coverbox.thumb %><td><%= product.name %></td><td><%= product.platform.name %></td><td>$<%= product.price_without_discount%></td><td><%= product.discount_percentage %>%</td><td><b>$<%= product.final_valor %></b></td><td><%= link_to 'Remover', remove_cart_path(product) %></td>
			</tr>
	<% end %>
		</tbody>
	</table>
<%end%>
<table class="table">
	<tbody>
		<tr>
			<td style="text-align:right">Total: R$<%= format_number @total %></td>
		</tr>
		<tr>
			<td style="text-align:right">Envio Gratuito</td>
		</tr>
		<tr class="danger" >
			<td style="text-align:right">Taxas locais serão colocadas de acordo com o endereço de entrega no final do processamento do seu pedido</td>
		</tr>
		<%if @carts.count > 0%>
		<tr>
			<td style="text-align:right"><%= link_to 'Continue Comprando', root_path, class:'btn btn-default' %> <%= link_to 'Fechar Pedido!', place_order_path, class:'btn btn-primary'%> <%=link_to 'Limpar Carrinho', clean_cart_path, class:'btn btn-danger'%></td>
		</tr>
		<%end%>
	</tbody>
</table>
