<h1>Listing userlevels</h1>

<table>
  <thead>
    <tr>
      <th>Level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @userlevels.each do |userlevel| %>
      <tr>
        <td><%= userlevel.level %></td>
        <td><%= link_to 'Show', userlevel %></td>
        <td><%= link_to 'Edit', edit_userlevel_path(userlevel) %></td>
        <td><%= link_to 'Destroy', userlevel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Userlevel', new_userlevel_path %>
