<h1>Listing Orders</h1>

<h2>Filter by <%= @filter %></h2>


<table class="table">
  <thead>
    <tr>
      <th>Order No</th>
      <th>User</th>
      <th>Status</th>
      <th>Total Price</th>
      <th>Track No</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.user.username %></td>
        <td><%= order.status %></td>
        <td><%= order.totalprice %></td>
        <%if order.trackinfo %><td><%= order.trackinfo %></td><%else%><td></td><%end%>
        <td><%= link_to 'Modify Status', orders_modify_admin_path(order) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', orders_admin_path %>
