<h2>The actual status is <%= @order.status %></h2>
<%if @order.status == "Finished"%><h3>TrackNo: <%=@order.trackinfo%></h3><%else%><h3><%if @order.trackinfo%>Reason: <%=@order.trackinfo%></h3><%end%><%end%>
<table class="table">
	<thead>
		<th></th>
		<th>Product Name</th>
		<th>Platform</th>
		<th>Price</th>
		<th>Discount</th>
		<th>Final Price</th>
	</thead>
	<tbody>
<% @order.products.each do |product| %>
		<tr>
			<td><%= image_tag product.coverbox.thumb %><td><%= product.name %></td><td><%= product.platform.name %></td><td>$<%= product.price_without_discount%></td><td><%= product.discount_percentage %>%</td><td><b>$<%= product.final_valor %></b></td>
		</tr>
<% end %>
	</tbody>
</table>

<div>
<h2>Shipping Address</h2>
</div>
<table class="table">
<tr>
	<td>Street: <%= @order.address.number %> <%= @order.address.street %></td>
</tr>
<tr>
	<td>City: <%= @order.address.city %> - <%= @order.address.province.name %></td>
</tr>
<tr>
	<td>Postal Code: <%= @order.address.postalcode %></td>
</tr>
</table>
<h2>Price description</h2>
<table class="table">
	<tbody>
		<tr>
			<td style="text-align:right">Total: $<%= format_number @order.price %></td>
		</tr>
		<tr>
			<td style="text-align:right">Shipping: Free!!!! Promotion</td>
		</tr>
		<tr class="danger" >
			<td style="text-align:right">Tax (%<%= @tax %>): $<%=format_number @order.taxprice %></td>
		</tr>
		<tr class="success" >
			<td style="text-align:right">Total: $<%=format_number @order.totalprice %></td>
		</tr>
	</tbody>
</table>

<h2>Payment Info: Creditcard</h2>
<span>For security reasons your information is secure on our servers and will not be displayed</span>