        <div class="col-lg-10">

        <div class="row">
        <table class="table">
        <tbody>
        <% @contacts.each do |contact|%>
            <tr>
                <td><%= image_tag contact.icon.url %></td>
                <td><%= contact.type %></td>
                <td><%= contact.info %></td>
                <td><%= link_to 'Modify', admin_edit_contact_path(contact) %></td>
            </tr>
            <%end%>
        </tbody>
        </table>
        <br><%= link_to 'Add New Contact', admin_add_contact_path %>
        </div>
        </div>
